{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my first webpage.{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class=".text-primary btn btn-outline-primary" href="/store/home/">Головна сторінка</a>
            <a class=".text-success btn btn-outline-success" href="/store/creators/">Виробники</a>
            <a class=".text-danger btn btn-outline-danger" href="/store/creator/1/">Головний розробник магазину</a>
            <a class=".text-warning btn btn-outline-warning" href="/store/info/">Шаблон для допомоги на сайті</a>
            <a class=".text-danger btn btn-outline-danger" href="/store/videos/">Шаблон де можна подивитися відосики</a>
            </div>
        </nav>
    </header>
    <hr>
    <main>
        {% block content %}{% endblock %}
    </main>
    <hr>
    <footer>
        <p class="">© 2025</p>
    </footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>